.masthead .site-search input {
  padding: 4px 10px;
  width: 175px;
}

.form-horizontal .help-block {
  margin-left: 130px;
  margin-bottom: 1em;
  margin-top: -15px;
  padding-top: 0;
}

/* lcrnz repeating */

.control-repeating .checkbox.btn {
  display: inline-block;
  position: relative;
  top: 0;
  left: 5px;
  height: 1px;
  width: 10px;
  padding: 3px 8px;

  -webkit-border-radius: 15px;
          border-radius: 15px;
  line-height: 21px;
}

.control-repeating .checkbox.btn input {
  display: none;
  width: auto;
}
