{% ckan_extends %}

{% block package_metadata_author %}
<div data-module="lcrnz-repeating">
  {%- set authors = data.get('author', []) + [''] -%}

  {%- for author in authors -%}
    <div class="control-repeating">
    {{ form.input('author' + '-' ~ loop.index,
      id='field-' + 'author' + '-' ~ loop.index,
      label='Author' + ' ' ~ loop.index,
      placeholder='Joe Bloggs',
      value=author,
      error=errors['author'],
      classes=['control-medium']
      ) }}
    </div>
  {%- endfor -%}
</div>
{% endblock %}

